@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.page {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.stories {
  display: flex;
  margin: 40px auto;
  max-width: 1280px;
}

.stories__grid {
  display: grid;
  justify-content: center;
  width: 100%;

  gap: 20px;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-auto-rows: 512px;
}

.stories__slide {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 20px 20px;
  min-width: 320px;
  min-height: 512px;
}

.stories__slide_num_1 {
  background: bottom / cover no-repeat url('./images/slide-1.jpg');
}

.stories__slide_num_2 {
  background: bottom / cover no-repeat url('./images/slide-2.jpg');
}

.stories__slide_num_3 {
  background: bottom / cover no-repeat url('./images/slide-3.jpg');
}

.stories__slide_num_4 {
  background: bottom / cover no-repeat url('./images/slide-4.jpg');
}

.stories__slide_num_5 {
  background: bottom / cover no-repeat url('./images/slide-5.jpg');
}

.stories__slide_num_6 {
  background: bottom / cover no-repeat url('./images/slide-6.jpg');
}

.stories__slide_num_7 {
  background: bottom / cover no-repeat url('./images/slide-7.jpg');
}

.stories__tag {
  margin: 10px 0 15px;
  padding: 4px 10px;
  width: fit-content;
  border-radius: 24px;
  background: #ffdd2d;
  color: #000;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 122%;
}

.stories__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stories__main-title {
  margin: 0 0 20px;
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 32px;
}

.stories__subtitle {
  margin: 0;
  letter-spacing: 0.5px;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.stories__title {
  margin: 0 0 20px;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 29px;
}

.stories__text {
  margin: 0;
  letter-spacing: 0.35px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.stories__link {
  margin-top: 20px;
  color: #ffde01;
  letter-spacing: 0.35px;
  font-size: 16px;
  line-height: 20px;

  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.stories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stories__list-item {
  letter-spacing: 0.35px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.stories__list-item::before {
  margin: 0 2px 0 10px;
  content: "•";
  font-size: 16px;
}

.stories__input {
  display: block;
  overflow: scroll;
  box-sizing: border-box;
  padding: 10px 12px;
  min-height: 61px;
  max-height: 280px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #fff;
  color: #000;
  letter-spacing: -0.41px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  font-family: inherit;
  line-height: 17px;
  opacity: .55;
  resize: none;
}

.stories__input:focus {
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 1px #ffdd2d;
}

.stories__button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  padding: 13px;
  border: none;
  border-radius: 26px;
  box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.25);
  text-align: center;
  letter-spacing: 0.35px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.stories__button:hover {
  opacity: .8;
}

.stories__button_type_submit {
  background: #ffde01;
}

.stories__button_type_button {
  background: #fff;
}